{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div{{ attributes.addClass('countries') }}>
  <ul>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/gh.svg">
      <span>GhaLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/ke.svg">
      <span>Kenya Law</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/ls.svg">
      <span>LesothoLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/us.svg">
      <span>LiberLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/mw.svg">
      <span>MalawiLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/na.svg">
      <span>NamiBLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/ng.svg">
      <span>NigeriaLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/sl.svg">
      <span>SierraLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/za.svg">
      <span>SAFLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/sc.svg">
      <span>SeyLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/sz.svg">
      <span>SwaziLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/tz.svg">
      <span>TanzLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/ug.svg">
      <span>UgandaLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/zm.svg">
      <span>ZambiaLII</span>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/liiweb/img/flag/mz.svg">
      <span>ZimLII</span>
    </li>
  </ul>
</div>
