{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div{{ attributes.addClass('Countries') }}>
  <ul>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/gh.svg">
      <h3>GhaLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/ke.svg">
      <h3>Kenya Law</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/ls.svg">
      <h3>LesothoLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/us.svg">
      <h3>LiberLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/mw.svg">
      <h3>MalawiLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/na.svg">
      <h3>NamiBLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/ng.svg">
      <h3>NigeriaLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/sl.svg">
      <h3>SierraLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/za.svg">
      <h3>SAFLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/sc.svg">
      <h3>SeyLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/sz.svg">
      <h3>SwaziLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/tz.svg">
      <h3>TanzLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/ug.svg">
      <h3>UgandaLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/zm.svg">
      <h3>ZambiaLII</h3>
    </li>
    <li>
      <img src="{{ url('<front>') }}/modules/custom/img/flag/mz.svg">
      <h3>ZimLII</h3>
    </li>
  </ul>
</div>
