{% if sidebar|render or sidebar_share|render %}
  {% set content_class = 'col-sm-9' %}
{% else %}
  {% set content_class = 'col-sm-12' %}
{% endif %}

<div {{ attributes.addClass('liiweb-content-general', 'clearfix') }}>
  {% if header_left|render or header_right|render %}
    <div class="row content-header">
      <div class="col-sm-6 left">
        {{ header_left }}
      </div>
      <div class="col-sm-6 right">
        {{ header_right }}
      </div>
    </div>
  {% endif %}
  {% if full_width|render %}
    <div class="row full-width">
      <div class="col-sm-12">
        {{ full_width }}
      </div>
    </div>
  {% endif %}
  {% if node_content|render or sidebar|render or sidebar_share|render %}
    <div class="row bottom">
      <div class="content {{ content_class }}">
        {{ node_content }}
      </div>
      {% if sidebar|render  %}
        <div class="col-sm-3 sidebar">
          {{ sidebar }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
