<{{ outer_wrapper }}{{ attributes.addClass('row') }}>

  {{ title_suffix.contextual_links }}

  {# Header #}
  {% if header_left|render or header_right|render %}
  <header class="content-header--wrapper col-12">
    <div class="content-header--top row">
      <{{ header_left_wrapper }}{{ header_left_attributes.addClass('content-header--left col') }}>
        {{ header_left }}
      </{{ header_left_wrapper }}>

      <{{ header_right_wrapper }}{{ header_right_attributes.addClass('content-header--right col text-right') }}>
        {{ header_right }}
      </{{ header_right_wrapper }}>
    </div>   
    <div class="content-header--bottom row">
      <{{ header_wrapper }}{{ header_attributes.addClass('content-header col-12') }}>
        {{ header}}
      </{{ header_wrapper }}>
    </div>
  </header>
  {% endif %}

  {# Main #}
  <{{ left_wrapper }}{{ left_attributes.addClass('content-aside col-lg-3') }}>
    {{ left }}
  </{{ left_wrapper }}>

  <{{ right_wrapper }}{{ right_attributes.addClass('content-main col-lg-9') }}>
    {{ right }}
  </{{ right_wrapper }}>  

  {# Footer #}
  <{{ footer_wrapper }}{{ footer_attributes.addClass('content-footer') }}>
    {{ footer }}
  </{{ footer_wrapper }}>

</{{ outer_wrapper }}>